.partie2 {
    padding: 20px;
    z-index: 99;
}

h2 {
    text-align: center;
    color: white;
    font-size: clamp(24px, 4vw, 32px);
    margin: 60px 0px;
}

.conteneurCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid;


}

.card:hover,
.cocktailsCard:hover,
button:hover {
    transform: scale(1.05);
}

.card img {
    margin: 40px auto;
    width: 80px;
    height: auto;
}

.card button {
    border-radius: 15px;
    font-size: 12px;
    font-weight: 400;
    max-width: 293px;
    width: 85%;
    height: 48px;
    background-color: rgba(11, 15, 42, 0.25);
    margin: 12px 40px 40px;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    color: white;
}

.text h6 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.text p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 32px;
}

.plage {
    border-color: #FF9A5F;
    background: linear-gradient(135deg,
            rgba(255, 178, 91, 0.25) 0%,
            rgba(255, 106, 106, 0.25) 55%,
            rgba(255, 61, 129, 0.25) 100%);
}

.plage button {
    border: 1px solid #FFB25B;
    color: #ffdbca;
}

.espace {
    border-color: #7B7CFF;
    background: linear-gradient(135deg,
            rgba(74, 163, 255, 0.25) 0%,
            rgba(108, 99, 255, 0.25) 55%,
            rgba(179, 75, 255, 0.25) 100%);
}

.espace button {
    border: 1px solid #7B7CFF;
    color: #ffdbca;
}

.foret {
    border-color: #35FFC8;
    background: linear-gradient(135deg,
            rgba(53, 255, 200, 0.25) 0%,
            rgba(28, 199, 166, 0.25) 60%,
            rgba(15, 174, 144, 0.25) 100%);
}

.foret button {
    border: 1px solid #35FFC8;
    color: #fff;
}

/* Section Cocktails */
.cocktails {
    margin-top: 60px;
    padding: 20px;
    max-width: 1235px;
    margin: auto;

    p {
        color: #fff;
        margin-bottom: 14px;
    }
}

.carteCocktails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1195px;
    margin: auto;
    gap: 25px;
}

.cocktailsCard {
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(14, 20, 60, 0.85) 0%, rgba(11, 16, 47, 0.85) 100%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 380px;

    img {
        width: 100%;
        max-width: 340px;
        height: auto;
        aspect-ratio: 340 / 240;
        object-fit: cover;
        border-radius: 20px;
    }


}

#typeForet h3 {
    h3 {
        color: #35FFC8;
    }

    img {
        border: 1px solid rgba(53, 255, 200, 0.25);
    }
}

#typeEspace h3 {
    color: #B34BFF;
}

#typeEspace img {
    border: 1px solid rgba(53, 255, 200, 0.25);
}

#typePlage h3 {
    color: #FFB25B;
}

#typeEspace img {
    border: 1px solid rgba(53, 255, 200, 0.25);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
}

.description h3 {
    font-size: 12px;
    font-weight: 400;
}

.concept {
    a {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(14, 20, 60, 0.85);
        max-width: 1200px;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 20px;

        .text {
            padding-top: 15px;
            max-width: 485px;
            justify-content: center;

        }

        img {
            margin: 57px 40px 57px 0px;
            max-width: 420px;
            width: 85%;
            border-radius: 20px;
        }
    }
}




.comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
    width: 70%;
    max-width: 1200px;
    margin-bottom: 60px;

    div {
        width: 380px;
        padding: 12px;
        border-radius: 20px;
        text-align: center;
        background-color: rgba(14, 20, 60, 0.85);
        color: #fff;

        p {
            margin: 0px 70px;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 70px;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
        }
    }
}



.pret {
    background-color: #7cfff3;
    max-width: 1200px;
    width: 85%;
    color: #081027;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 60px;

    h2 {
        padding-top: 12px;
        color: #081027;
        margin: 12px 0px;
        font-style: italic;
        font-size: 30px;
        font-weight: 700;
    }

    p {
        margin-bottom: 12px;
    }

    button {
        background: linear-gradient;
        max-width: 220px;
        width: 85%;
        background: linear-gradient(180deg,
                rgba(11, 15, 42, 0) 0%,
                rgba(11, 15, 42, 0.22) 100%);
        font-size: 12px;
        padding: 12px 51px;
        margin-bottom: 20px;
        border: 0px;
        border-radius: 20px;
    }
    source{
        border-radius: 20;
    }
    video{
        max-width: 100%;
        border-radius: 20px;
    }
}




@media (max-width: 1410px) {
    .Concept {
        a {
            gap: 30px;
        }

    }
}


/* Media queries pour tablettes */
@media (max-width: 768px) {
    .cocktails p {
        margin-left: 20px;
    }

    .carteCocktails {
        gap: 20px;
    }

    .conteneurCard {
        gap: 30px;
    }

    .comment {
        gap: 20px
    }
}

/* Media queries pour mobiles */
@media (max-width: 480px) {
    .titreTxt {
        gap: 20px;
    }

    .card {
        max-width: 100%;
    }

    .card button {
        margin: 12px 20px 40px;
    }

    .text {
        padding: 0 20px;
    }

    .cocktails p {
        margin-left: 10px;
    }

    .cocktailsCard {
        max-width: 100%;
        padding: 15px;
    }

    .Concept img {
        max-width: 100%;
        margin: 20px;
    }

    .comment {
        gap: 15px;
    }

    .comment div p {
        margin: 0px 10px;
        padding-bottom: 40px;
    }
}