footer{
    padding: 0 125px;
    width: 100%;
    height: auto;
    background: linear-gradient(0deg,#14161a,#1f2360);
    color: white;
    .list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        gap: 10px;

        @media (max-width: 600px) { 
            flex-direction: column;
            gap: 32px
            
        }

        h1{
            margin: 0;
            align-self: stretch;
            font-style: italic;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
        }
        p{
            margin: 0;
            align-self: stretch;
            font-size: 13px;
            font-weight: 400;  
        }
            
            
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 0;
                margin: 0;

                .titre{
                    font-weight: 700;
                    font-size: 16px;
                }
            }
    
        
            
            
        }
    
    .titrefooter{
        display: flex;
        flex-direction: column;


        h1, p{
            margin: 0px;
        }
        p{
            margin-bottom: 20px;
        }
        } 
    .copiright{
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) { 
            flex-direction: column;    
        }
        }
    } 
}
