@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
}


h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 36px;
    gap: 20px
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
}


h3{
    margin: 10px 0px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2360;
    font-family: Inter, sans-serif;
}


section{
    padding: 20px 10px;
}