@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
}


h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 36px;
    gap: 20px
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
}


h3{
    margin: 10px 0px;
}
.parent {
  position: relative;
}
.glow {
    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: radial-gradient(
    circle,
    rgba(255, 210, 125, 0.25) 0%,
    rgba(255, 210, 125, 0.16) 55%,
    rgba(255, 210, 125, 0) 90%
    );

    filter: blur(40px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.glowcentre{
    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: radial-gradient(
    circle,
    rgba(255, 210, 125, 0.25) 0%,
    rgba(255, 210, 125, 0.16) 55%,
    rgba(255, 210, 125, 0) 90%
    );

    filter: blur(40px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.glowgauche{
    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: radial-gradient(
    circle,
    rgba(255, 210, 125, 0.25) 0%,
    rgba(255, 210, 125, 0.16) 55%,
    rgba(255, 210, 125, 0) 90%
    );

    filter: blur(40px);
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}