@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* * {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1f2360;
    font-family: "Roboto", sans-serif;
}

.conteneur_univers {
    padding: 0 125px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    div {
        h1 {
            font-family: "Audiowide", sans-serif;
            font-size: 36px;
            gap: 20px
        }

        p {
            font-family: "Roboto", sans-serif;
            font-size: 13px;
        }
    }


    .conteneur_bloc {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 10px;

        span {
            background-color: #3B4071;
            border: 1px solid #39FFB9;
            border-radius: 20px;
            padding: 8px 42px;
        }

        span:hover {
            background-color: #39FFB9;
            cursor: pointer;
        }

    }

    .conteneur_video {
        display: flex;
        flex-direction: row;
        gap: 40px;

        video {
            border-radius: 20px;
        }

        .description {
            display: flex;
            flex-direction: column;
            background-color: #3B4071;
            border: 1px solid #39FFB9;
            border-radius: 20px;
            padding: 24px;
            gap: 10px;

            h2 {
                font-family: "Audiowide", sans-serif;
                font-size: 18px;
            }

            div {
                ul {
                    list-style: inside;
                    font-size: 12px;
                }
            }

            p {
                font-size: 12px;
            }


            span {
                font-family: "Audiowide", sans-serif;
                font-size: 24px;
            }

            .reserver {
                display: flex;
                justify-content: end;

                button {
                    background-color: #39FFB9;
                    border-radius: 20px;
                    padding: 10px 12px;
                    border: 0;
                }
            }


        }
    }

    .conteneur_image {
        display: flex;
        flex-direction: row;
        gap: 90px;

        .premiere_image {
            img {
                max-width: 300px;
                max-height: 170px;
                width: 130%;
                height: 130%;
                border-radius: 20px;
            }
        }

        .deuxieme_image {
            img {
                max-height: 170px;
                border-radius: 20px;
                max-width: 300px;
                width: 130%;
                height: 130%;
            }
        }
    }


}